button {
  background-color: #660066;
  color: white;
  width: 20%;
  margin-top: 5px;
  height: 10%;
}


.header-label {
  font-weight: bold;
  text-decoration: underline;
  color: #660066;
}

.total-field {
  margin-left: 5px;
  width: 48%;
}

