<div class="balance-card" fxLayout="column" fxLayoutAlign="space-evenly center">
  <mat-card fxFlex="90">
    <mat-card-header fxLayout="row" fxLayoutAlign="center center">
      <mat-card-title>Balance-Sheet Form</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="5%">
      <app-assets></app-assets>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
    </mat-card-actions>
  </mat-card>
</div>



