<form [formGroup]="tangibleAssetsForm">
  <div class="form-class" fxLayout="column" fxLayoutAlign="space-around start">
    <mat-label class="header-class">Tangible assets</mat-label>
    <mat-form-field appearance="legacy">
      <mat-label>Land buildings</mat-label>
      <input matInput [formControlName]="'landBuildings'">
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Mechanical equipment</mat-label>
      <input matInput [formControlName]="'mechanicalEquipment'">
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Other equipment</mat-label>
      <input matInput [formControlName]="'otherEquipment'">
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Investment property</mat-label>
      <input matInput [formControlName]="'investmentProperty'">
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Biological assets</mat-label>
      <input matInput [formControlName]="'biologicalAssets'">
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Other tangible assets assets</mat-label>
      <input matInput [formControlName]="'otherTangibleAssets'">
    </mat-form-field>

    <div fxLayout="row">
      <button mat-raised-button (click)="totalTangibleAssets()">Total</button>
      <mat-form-field class="total-field" appearance="legacy">
        <input matInput [value]="sum">
      </mat-form-field>
    </div>
  </div>
</form>
